footer {
  background: #343a40;
  color: white;
  margin-top: 100px;
  a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
    &:hover {
      color: #fa944b;
      text-decoration: none;
    }
  }
  h4 {
    color: #fff;
  }
}
.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #ffffff;
}
.footer-middle {
  padding-top: 2em;
  color: white;
}
ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
  li {
    display: inline;
    margin: 0 5px;
  }
}
.social-network {
  a.icoFacebook {
    &:hover {
      background-color: #3b5998;
      i {
        color: #fff;
      }
    }
  }
  a.icoLinkedin {
    &:hover {
      background-color: #007bb7;
      i {
        color: #fff;
      }
    }
  }
  a.socialIcon {
    &:hover {
      color: #44bcdd;
    }
  }
  a {
    background-color: #f9f9f9;
  }
}
.socialHoverClass {
  color: #44bcdd;
}
.social-circle {
  li {
    a {
      display: inline-block;
      position: relative;
      margin: 0 auto 0 auto;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      width: 30px;
      height: 30px;
      font-size: 15px;
      &:hover {
        i {
          -moz-transform: rotate(360deg);
          -webkit-transform: rotate(360deg);
          -ms--transform: rotate(360deg);
          transform: rotate(360deg);
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -o-transition: all 0.2s;
          -ms-transition: all 0.2s;
          transition: all 0.2s;
        }
      }
    }
    i {
      margin: 0;
      line-height: 30px;
      text-align: center;
    }
  }
  i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
}
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
